@import '../variables';

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      margin-right: 5px
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

      button {
        text-align: center;
        width: 35px;
        height: 35px;
        padding: 5px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        margin-right: 5px;
        cursor: pointer;
        background-color: white;
        color: #fe5f1e;

        &:hover {
          background-color: #fe5f1e;
          color: white;
        }
      }
  }
}
